/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-size: 1em;
}

.submit-button {
  margin-top: 10px;
  width: 100%;
  padding: 12px 25px;
  background: #71a5c6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  align-self: center;
}

.submit-button:hover {
  background-color: #0056b3;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* Styling the select element similarly to inputs */
.login-inputs select {
  width: 250px;
  height: 50px;
  border: 1px solid rgb(6, 6, 89);
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  background-color: white;
  appearance: none; /* Removes the default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
}

.login-inputs select::after {
  content: '\25BC'; /* Unicode character for the down arrow */
  position: absolute;
  right: 10px;
  pointer-events: none;
  font-size: 16px;
}
