.detail-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .timetable-id {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .timetable-table {
    margin-top: 30px;
    width: 100%;
  }
  
  .button-group {
    display: flex;
    gap: 12px;
  }

  .generate-button {
  margin-right: 0;
  margin-left: 55%;
  position: fixed;
  margin-top: 2%;
  padding: 15px 25px;
  background-color: #0056b3;
}

.generate-button:hover {
  background-color: #002955;
}

  
  .edit-mode-button,
  .delete-button, .save-button {
    padding: 15px 25px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2%;
    margin-right: 0;
    transition: background-color 0.3s ease;
  }
  
  .edit-mode-button {
    background: #71a5c6;
    color: white;
  }

  .edit-mode-button:hover {
    background: #3498db;
    transform: scale(1.05);
  }

  .save-button {
    background: #71c6aa;
    color: white;
  }

  .save-button:hover {
    background: #34dbac;
    transform: scale(1.05);
  }
  
  .delete-button {
    background: #71a5c6;
    color: white;
  }
  
  .delete-button:hover {
    background: #3498db;
    transform: scale(1.05);
  }
  
  .update-button {
    display: inline-block;
  }
  
  .detail-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .detail-container th,
  .detail-container td {
    border: 1px solid #ddd;
    text-align: left;
  }

  .detail-container tr {
    width: 100%;
  }
  
  .detail-container th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }

  
  .detail-container tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .detail-container input[type="text"],
  .detail-container select {
    width: 95%;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .detail-container select {
    background-color: #fff;
  }
  
  .detail-container td {
    vertical-align: middle;
  }

  .day-column {
    padding: 15px;
  }

  .event-column {
    padding: 0;
  }

  .event-component {
    padding: 5px;
    margin: 0px;
  }

  #evenness {
    width: 20px;
  }