<header>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</header>

<div class="timetable-wrapper">
  <!-- Sidebar -->
  <app-sidebar-menu></app-sidebar-menu>

  <!-- Main Content -->
  <div class="main-content">
    <div class="main-container">
      <h1 class="title">Timetable Details</h1>
      
      <div class="detail-container">
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

        <div *ngIf="timetable; else noTimetable">
          <div class="header-row">
            <p class="timetable-id"><strong>Name:</strong> 
              <input 
                *ngIf="isEditMode" 
                [(ngModel)]="timetable.name" 
                type="text" 
                class="editable-input"
              />
              <span *ngIf="!isEditMode">{{ timetable.name }}</span>
            </p>
            <div class="button-group">
              <button *ngIf="isEditMode" (click)="showSaveModal(timetable)" class="save-button">
                Save Changes
              </button>              
              <button (click)="toggleEditMode()" class="edit-mode-button">
                {{ isEditMode ? 'Cancel Edit' : 'Edit Timetable' }}
              </button>
              <button (click)="showDeleteModal(timetable)" class="delete-button">
                Delete Timetable
              </button>
              <button *ngIf="isFiltered" (click)="resetFilters()" class="reset-button">
                Reset Filters
              </button>
            </div>
          </div>

          <table class="timetable-table">
            <tbody>
              <!-- Loop through each day -->
              <tr *ngFor="let day of groupedEvents | keyvalue">
                <td class="day-column" colspan="8">
                  <strong>{{ day.key }}</strong> <!-- Display the day -->
                </td>
                <td class="event-column">
                  <tr *ngFor="let event of day.value">
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.timeslot.time"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.timeslot.time }}</span>
                    </td>
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.courseName"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.courseName }}</span>
                    </td>
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.eventName"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.eventName }}</span>
                    </td>
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.professorName"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.professorName }}</span>
                    </td>
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.roomName"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.roomName }}</span>
                    </td>
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.group"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.group }}</span>
                    </td>
                    <td class="event-component" id="evenness">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.weekEvenness"
                        type="checkbox"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.weekEvenness ? '2' : 'weekly' }}</span>
                    </td>
                    <td class="event-component">
                      <input
                        *ngIf="isEditMode"
                        [(ngModel)]="event.coursePackage"
                        type="text"
                        class="editable-input"
                      />
                      <span *ngIf="!isEditMode">{{ event.coursePackage }}</span>
                    </td>
                  </tr>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #noTimetable>
          <p>No timetable to display. Try creating a new one.</p>
        </ng-template>
      </div>
    </div>
  </div>

  <app-generic-modal 
    [isVisible]="isModalVisible"
    [title]="modalTitle"
    [message]="modalMessage"
    [inputPlaceholder]="inputPlaceholder"
    [inputValue]="inputValue"
    [showCancelButton]="modalType === 'delete' || modalType === 'edit'"
    (confirmEvent)="handleModalConfirm($event)">
  </app-generic-modal>
</div>