<header>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
</header>

<div class="timetable-wrapper">
  <app-sidebar-menu></app-sidebar-menu>
  <div class="main-content">
    <div class="main-container">
      <h1 class="title">Timetable Details</h1>

      <div class="detail-container">
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

        <div *ngIf="timetable; else noTimetable">
          <div class="header-row">
            <p class="timetable-id">
              <strong>Name: </strong>
              <input *ngIf="isEditMode" [(ngModel)]="timetable.name" type="text" class="editable-input" />
              <span *ngIf="!isEditMode">{{ timetable.name }}</span>
            </p>
            <div class="button-group">
              <button *ngIf="isAdmin && isEditMode" (click)="showSaveModal(timetable)" class="save-button">
                Save Changes
              </button>
              <button *ngIf="isAdmin" (click)="toggleEditMode()" class="edit-mode-button">
                {{ isEditMode ? 'Cancel Edit' : 'Edit Timetable' }}
              </button>
              <button *ngIf="isAdmin" (click)="showDeleteModal(timetable)" class="delete-button">
                Delete Timetable
              </button>
              <button *ngIf="isFiltered" (click)="resetFilters()" class="reset-button">
                Reset Filters
              </button>
            </div>
          </div>

          <div class="table-responsive">
            <table class="timetable-table">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Course Name</th>
                  <th>Event Type</th>
                  <th>Professor Name</th>
                  <th>Room Name</th>
                  <th>Group</th>
                  <th>Evenness</th>
                  <th *ngIf="!isEditMode">Course Package</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let event of filteredEvents">
                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.timeslot.day }}</span>
                    <select *ngIf="isEditMode" [(ngModel)]="event.timeslot.day" class="editable-select">
                      <option *ngFor="let day of ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']" [value]="day">{{ day }}</option>
                    </select>
                  </td>

                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.timeslot.time }}</span>
                    <div *ngIf="isEditMode" class="time-inputs">
                      <div class="time-selector">
                        <label>Start:</label>
                        <input 
                          type="time" 
                          [(ngModel)]="event.timeslot.startTime" 
                          class="editable-input" />
                      </div>
                      <div class="time-selector">
                        <label>End:</label>
                        <input 
                          type="time" 
                          [(ngModel)]="event.timeslot.endTime" 
                          class="editable-input" />
                      </div>
                    </div>
                  </td>

                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.courseName }}</span>
                    <select *ngIf="isEditMode" [(ngModel)]="event.courseId" class="editable-select">
                      <option *ngFor="let course of courses" [value]="course.id">{{ course.courseName }}</option>
                    </select>
                  </td>

                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.eventName }}</span>
                    <select *ngIf="isEditMode" [(ngModel)]="event.eventName" class="editable-select">
                      <option *ngFor="let type of eventTypes" [value]="type">{{ type }}</option>
                    </select>
                  </td>

                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.professorName }}</span>
                    <select *ngIf="isEditMode" [(ngModel)]="event.professorId" class="editable-select">
                      <option *ngFor="let professor of professors" [value]="professor.id">{{ professor.name }}</option>
                    </select>
                  </td>

                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.roomName }}</span>
                    <select *ngIf="isEditMode" [(ngModel)]="event.roomId" class="editable-select">
                      <option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</option>
                    </select>
                  </td>

                  <td class="event-component">
                    <span *ngIf="!isEditMode">{{ event.group }}</span>
                    <select *ngIf="isEditMode" [(ngModel)]="event.groupId" class="editable-select">
                      <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
                    </select>
                  </td>

                  <td class="event-component" id="evenness">
                    <span *ngIf="!isEditMode">{{ event.weekEvenness ? '2' : 'weekly' }}</span>
                    <input *ngIf="isEditMode" [(ngModel)]="event.weekEvenness" type="checkbox" class="editable-input" />
                  </td>

                  <td *ngIf="!isEditMode" class="event-component">
                    <span *ngIf="!isEditMode">{{ event.coursePackage }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #noTimetable>
          <p>No timetable to display. Try creating a new one.</p>
        </ng-template>
      </div>
    </div>
  </div>

  <app-generic-modal 
    [isVisible]="isModalVisible"
    [title]="modalTitle"
    [message]="modalMessage"
    [inputPlaceholder]="inputPlaceholder"
    [inputValue]="inputValue"
    [showCancelButton]="modalType === 'delete' || modalType === 'edit'"
    (confirmEvent)="handleModalConfirm($event)">
  </app-generic-modal>
</div>