<div class="detail-container">
  <h2>Timetable Details</h2>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

  <div *ngIf="timetable; else noTimetable">
    <p><strong>Timetable ID:</strong> {{ timetable.id }}</p>

    <div style="text-align: center; margin-bottom: 16px;">
      <button (click)="toggleEditMode()" class="edit-mode-button">
        {{ isEditMode ? 'Cancel Edit' : 'Edit Timetable' }}
      </button>
    </div>

    <table>
      <thead>
        <tr>
          <th>Grupă</th>
          <th>Zi</th>
          <th>Interval</th>
          <th>Materie</th>
          <th>Tip Eveniment</th>
          <th>Nume Profesor</th>
          <th>Număr Cameră</th>
          <th>Frecvența</th>
          <th>Pachet</th>
          <th>Credite</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeslot of timetable.timeslots">
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.event.group }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.event.group"
              type="text"
            />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.day }}</span>
            <input *ngIf="isEditMode" [(ngModel)]="timeslot.day" type="text" />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.time }}</span>
            <input *ngIf="isEditMode" [(ngModel)]="timeslot.time" type="text" />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.event.courseName }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.event.courseName"
              type="text"
            />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.event.eventName }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.event.eventName"
              type="text"
            />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.event.professorName }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.event.professorName"
              type="text"
            />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.roomName }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.roomName"
              type="text"
            />
          </td>
          <td>
            <span *ngIf="!isEditMode">
              {{ timeslot.event.weekEvenness ? 'Par' : 'Impar' }}
            </span>
            <select *ngIf="isEditMode" [(ngModel)]="timeslot.event.weekEvenness">
              <option [value]="true">Par</option>
              <option [value]="false">Impar</option>
            </select>
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.event.coursePackage }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.event.coursePackage"
              type="text"
            />
          </td>
          <td>
            <span *ngIf="!isEditMode">{{ timeslot.event.courseCredits }}</span>
            <input
              *ngIf="isEditMode"
              [(ngModel)]="timeslot.event.courseCredits"
              type="number"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <div style="text-align: center; margin-top: 16px;">
      <button (click)="deleteTimetable(timetable.id)" class="delete-button">
        Delete Timetable
      </button>
      <app-update
        [timetable]="timetable"
        (updateResult)="handleUpdateResult($event)"
        class="update-button"
      ></app-update>
    </div>
  </div>

  <ng-template #noTimetable>
    <p>No timetable to display. Try creating a new one.</p>
  </ng-template>
</div>