<header>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</header>

<div class="timetable-wrapper">

  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  
  <!-- Sidebar -->
  <app-sidebar-menu></app-sidebar-menu>

  <!-- Main Content -->
  <div class="main-content">
    <div class="main-container">
      <!-- Title -->
       <div class="title-and-button"> 
        <h1 class="title">Timetables</h1>
        <!-- Generate Timetable Button -->
        <button class="generate-button" (click)="generateTimetable()" [class.visible]="isVisible()">
            CREATE
        </button>
       </div>

      <!-- Timetable List -->
      <div *ngIf="timetables.length > 0" class="timetable-list">
        <div *ngFor="let timetable of paginatedTimetables" class="timetable-card">
          <p class="timetable-name">Name: {{ timetable.name }}</p>
          <p class="timetable-date">Created At: {{ timetable.createdAt | date }}</p>
          <button class="details-button" (click)="navigateToDetails(timetable.id)">
            details
          </button>
        </div>
      </div>
      
      <!-- No Timetables Message -->
      <div *ngIf="timetables.length === 0" class="no-timetables-message">
        <p>No timetables available.</p>
      </div>

      <!-- Pagination Controls -->
      <div class="pagination-controls">
        <button 
          class="pagination-button" 
          [disabled]="currentPage === 0" 
          (click)="previousPage()">
          <i class="fas fa-chevron-left"></i> <!-- Left Arrow Icon -->
        </button>
        <span>Page {{ totalPages === 0 ? currentPage : currentPage + 1 }} of {{ totalPages }}</span>
        <button 
          class="pagination-button" 
          [disabled]="currentPage === totalPages - 1" 
          (click)="nextPage()">
          <i class="fas fa-chevron-right"></i> <!-- Right Arrow Icon -->
        </button>
      </div>

      
    </div>
  </div>

</div>
