<div class="container">
  <div class="top-section">
    <button class="nav-button" (click)="previousTimetable()" [disabled]="currentIndex === 0">⬅</button>
    <div class="timetable-id-display">
      <p *ngIf="currentTimetable">
        <a [routerLink]="['/detail', currentTimetable.id]" class="clickable-id">Current Timetable ID: {{ currentTimetable.id }}</a>
      </p>
      <p *ngIf="!currentTimetable">No Timetables Available</p>
    </div>
    <button class="nav-button" (click)="nextTimetable()" [disabled]="currentIndex === timetables.length - 1">➡</button>
  </div>

  <div class="middle-section">
    <div class="timetable-details" *ngIf="currentTimetable">
      <table>
        <thead>
          <tr>
            <th>Grupa</th>
            <th>Zi</th>
            <th>Interval</th>
            <th>Materie</th>
            <th>Tip</th>
            <th>Profesor</th>
            <th>Camera</th>
            <th>Frecvența</th>
            <th>Pachet</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeslot of currentTimetable.timeslots">
            <td>{{ timeslot.event.group }}</td>
            <td>{{ timeslot.day }}</td>
            <td>{{ timeslot.time }}</td>
            <td>{{ timeslot.event.courseName }}</td>
            <td>{{ timeslot.event.eventName }}</td>
            <td>{{ timeslot.event.professorName }}</td>
            <td>{{ timeslot.roomName }}</td>
            <td>{{ timeslot.event.weekEvenness ? 'Par' : '' }}</td>
            <td>{{ timeslot.event.coursePackage }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p *ngIf="!currentTimetable">No timetable to display</p>
  </div>

  <div class="bottom-section">
    <button routerLink="/create" class="add-button">+</button>
  </div>
</div>