/* Error Snackbar */
.error-snackbar {
    background-color: #f44336; /* Red background */
    color: #fff;
    font-weight: bold;
  }
  
  /* Success Snackbar */
  .success-snackbar {
    background-color: #4caf50; /* Green background */
    color: #fff;
    font-weight: bold;
  }