<div class="table-container">
  <!-- Search Bar and Create Button -->
  <div class="header-container">
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchText"
        placeholder="Search..."
        (input)="onSearch()"
      />
    </div>
    <button (click)="startCreate()" [disabled]="isCreating">Add New</button>
  </div>

  <!-- Entity Table -->
  <table>
    <thead>
      <tr>
        <th *ngFor="let col of columns" (click)="sortBy(col.field)">
          {{ col.label }}
          <!-- Show sorting direction indicator -->
          <span *ngIf="sortField === col.field">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th *ngIf="showActions || isCreating">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entity of filteredData">
        <td *ngFor="let col of columns">
          <ng-container *ngIf="entity !== editingEntity && entity !== newEntity">
            {{ entity[col.field] }}
          </ng-container>
          <ng-container *ngIf="entity === editingEntity || entity === newEntity">
            <input
              [(ngModel)]="entity[col.field]"
              [placeholder]="col.label"
              required
            />
          </ng-container>
        </td>
        <td *ngIf="showActions || isCreating" class="actions">
          <ng-container *ngIf="entity !== newEntity && entity !== editingEntity">
            <app-update-button
              [entity]="entity"
              [entityType]="entityType"
              (click)="startEdit(entity)"
            ></app-update-button>
            <app-delete-button
              [entity]="entity"
              [entityType]="entityType"
              (click)="onDelete(entity)"
            ></app-delete-button>
          </ng-container>
          <ng-container *ngIf="entity === newEntity">
            <app-create-button
              [entity]="newEntity"
              [entityType]="entityType"
              [buttonText]="'Done'"
              (entityCreated)="finishCreate($event)"
            ></app-create-button>
            <button (click)="cancelCreate()" class="cancel-button">
              Cancel
            </button>
          </ng-container>
          <ng-container *ngIf="entity === editingEntity">
            <button (click)="finishUpdate()" class="done-button">Save</button>
            <button (click)="cancelEdit()" class="cancel-button">Cancel</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>