<header>
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    rel="stylesheet"
  />
</header>

<div class="login-wrapper">
  <div class="login-container" *ngIf="!expired">
    <h2 class="login-title">Reset Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="login-inputs">
        <label for="new">New password</label>
        <input type="password" id="new" [(ngModel)]="newPassword" name="new" required />
      </div>
      <div class="login-inputs">
        <label for="confirm">Confirm password</label>
        <input type="password" id="confirm" [(ngModel)]="confirmPassword" name="confirm" required />
      </div>
      <button type="submit" class="submit-button">Confirm</button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p class="login-link">
      <a (click)="navigateToLogin()">Go back to login.</a>
    </p> 
  </div>
  <div *ngIf="expired">
    <h2 class="expired-error">Unfortunetly the reset password link expired ...</h2>
    <p class="login-link">
      <a (click)="navigateToLogin()">Go back to login.</a>
    </p> 
  </div>
</div>
