<header>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</header>

<div class="timetable-wrapper">
  <!-- Sidebar -->
  <app-sidebar-menu></app-sidebar-menu>
  
  <!-- Main Content -->
  <div class="main-content">
    <div class="main-container">
      <!-- Title and Subtitle -->
      <h1 class="title">Creating Timetable</h1>
      <h2 class="subtitle">Step 1: Select Time Intervals</h2>
      
      <!-- Wrapper for Select Day and Select Time Interval sections -->
    <div class="selection-wrapper">
      <div class="days-section">
        <h2 class="days-subtitle">Select Day:</h2>
        <div class="days-container">
          <div *ngFor="let day of days" class="day-card" [ngClass]="{'valid': day.valid, 'invalid': !day.valid}">
            <div class="day-name" (click)="selectDay(day)">
              <div class="bullet-circle" [class.selected]="day.selected" [class.valid]="day.valid"></div>
              <span>{{ day.day }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Only show this dropdown when a day is selected -->
      <div *ngIf="getSelectedDay()" class="time-selectors">
        <div class="time-header">
          <h2 class="time-subtitle">Select Time Interval:</h2>
        </div>
        <div class="time-inputs">
          <div class="time-selector">
            <label>Start Time:</label>
            <input type="time" (change)="onTimeChange(getSelectedDay()!, 'start', $event)" [value]="getSelectedDay()?.startTime" />
          </div>
          <div class="time-selector">
            <label>End Time:</label>
            <input type="time" (change)="onTimeChange(getSelectedDay()!, 'end', $event)" [value]="getSelectedDay()?.endTime" />
          </div>
        </div>
        <!-- Add button to confirm selection -->
        <button (click)="addTimeInterval()" class="add-button">Add</button>
      </div>
    </div>

    <!-- Display the added time intervals for all days -->
    <div class="added-intervals" *ngIf="validatedIntervals.length > 0">
      <h2 class="selected-intervals">Added Time Intervals:</h2>
      <div *ngFor="let interval of validatedIntervals" class="interval-card">
        <div class="input-interval">
          <span class="day-name">{{ interval.day }}:</span>
        <span class="time-range">{{ interval.startTime }} - {{ interval.endTime }}</span>
        </div>
        <button class="delete-button" (click)="showDeleteModal(interval)">
          <i class="fas fa-times"></i>
        </button>
        
      </div>
    </div>

    <div class="bottom-buttons">
      <button (click)="onBack()" class="back-button">
        <i class="fas fa-arrow-left"></i> Back
      </button>
      <button (click)="onNext()" class="next-button"> Next <i class="fas fa-arrow-right"></i></button>
    </div>
    
    </div>

    <app-generic-modal 
      [isVisible]="isModalVisible"
      [title]="modalTitle"
      [message]="modalMessage"
      [isInputRequired]="false"
      [showCancelButton]="showCancelButton"
      (confirmEvent)="handleModalConfirm($event)">
    </app-generic-modal>
  </div>
</div>
