/* General body styles */
body {
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.timetable-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Title and Subtitle styles */
h1, h2, .interval-card {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #2c3e50;
}

h1.title {
  font-size: 2.5em;
  margin-bottom: 1em;
}

h2.subtitle{
  font-size: 1.8em;
  color: #34495e;
  margin-bottom: 1.5em;
  margin-left: 2em;
}

.days-subtitle, .time-subtitle, .interval-card{
  font-size: 1.3em;
  color: #34495e;
  margin-bottom: 1.5em;
  margin-left: 5em;
}

.selected-intervals{
  margin-top: 4em;
  margin-bottom:1em;
  margin-left: 4em;
}

h2.selected-intervals{
  font-size: 1.5em;
}

.input-interval {
  display: flex;
  gap: 10px;
}


.interval-card {
  display: flex;
  flex-direction: row; /* Display intervals horizontally */
  align-items: center; /* Align items in a row */
  gap: 20px; /* Space between the day and the time interval */
  padding: 10px 15px;
  width: 70%;
  margin-left: 10em; 
  font-size: 0.8em;
  border: 1px lightblue solid;
  border-radius: 5px;
  background-color: #dee7ef;
  justify-content: space-between;
}

.subtitle {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
  width: 86%;
}

/* Days container */
.days-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  width: 100%;
  gap: 20px;
}

.day-card {
  flex: 0 1 auto;
  max-width: auto;
  border-radius: 12px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.day-name, .time-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.4em;
  font-weight: bold;
  color: #2c3e50;
  margin: 0;
}

.bullet-circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #ff9d9d;
  transition: background 0.3s;
}

.bullet-circle.valid {
  background: #8cf3b7;
}

.bullet-circle.invalid {
  background: #ff9d9d;
}

.bullet-circle.selected {
  background: #faff6f;
}

/* Time Selectors */
.time-selectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
}

.time-header {
  width: 100%;
  text-align: left;
}

.subtitle-time {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.time-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.time-selector {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
  font-size: 20px;
}

input[type="time"] {
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px;
  width: 300px;
  height: 50px;
  font-size: 1.3em;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="time"]:focus {
  border-color: #2980b9;
  box-shadow: 0 0 0 3px rgba(44, 62, 80, 0.2);
}

/* Buttons */
.add-button {
  padding: 12px 35px;
  background: #66c2ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  margin-top: 20px;
  margin-bottom: 30px;
}

.add-button:hover{
  background: #3498db;
  transform: scale(1.05);
}

.bottom-buttons {
  display: flex;
  justify-content: space-between; /* Align buttons to the left and right */
  margin-top: 100px; /* Space above the buttons */
  padding: 0 50px; /* Space on the left and right sides of the wrapper */
}

.next-button {
  padding: 12px 25px;
  background: #71a5c6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  align-self: flex-end;
}

.back-button {
  padding: 12px 25px;
  background: #929ca2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
  align-self: flex-start;
}

.next-button:hover {
  background: #3498db;
  transform: scale(1.05);
}

.back-button:hover {
  background: #a3acb0;
  transform: scale(1.05);
}

.delete-button {
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 10px;
}

.delete-button:hover {
  color: #c0392b; /* Darker red on hover */
}

/* Responsive styles */
@media (max-width: 600px) {
  .main-container {
    width: 90%;
    padding: 20px;
  }

  .day-card {
    width: 100%;
    min-width: 100%;
  }

  .bullet-circle {
    width: 3em;
    height: 3em;
  }

  .day-name {
    font-size: 1em;
  }

  .time-selectors {
    align-items: flex-start;
  }
}
